/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&family=Poppins:wght@400;500;600&family=Ubuntu&display=swap');

/* ********************* */


/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
 }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: var(--title-color);
  font-weight: 600;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}


.header-content {
  position: relative;
}

.header-content::before {
  content: '';
  background-color: hsla(196, 61%, 58%, .75);
  position: absolute;
  left: 47%;
  bottom: 3px;
  width: 7%;
  height: 30%;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.header-content:hover::before {
  transform:translateX(-1rem);
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}
/*  */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}